.tabs button {
    border-radius: 0;
    margin-bottom : 10px;
}

.tabs button:active,button:hover {
    border : 0;
    transition: unset;
}

.tabs button:first-child {
    border-radius: 8px 0 0 8px;
}

.tabs button:last-of-type {
    border-radius: 0 8px 8px 0;
}

.tabs .selected {
    color : red;
    border-bottom: 2px solid red;
}

.tabs button:focus,button:focus-visible {
    outline: 0;
}